@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 60px;
  color: #fff;
}

.container-title {
  text-align: center;
}

h2 {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  text-align: left;
  padding: 0px 70px;
} p {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  color: #acacac;
  text-align: left;
  padding: 0px 70px;
}

.overlay > h1 {
  float: left;  
  font-family: "Rowdies", serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  padding: 0px 30px;
  text-shadow: 0 0 10px #ccacff, 0 0 10px #ccacff;
}
.search-bar {
  padding: 10px;
  font-size: 15px;
}

button {
  font-family: "Poppins", serif;
  background-color: rgb(151, 55, 207);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 7px;
  box-shadow: 0 0 10px #ccacff, 0 0 10px #ccacff;
}

.text-movie {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.container-title > input {
  border-radius: 10px;
  box-shadow: 0 0 10px #ccacff, 0 0 10px #ccacff;
}

.banner {
  position: relative;
}

.banner > img {
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%; 
  background: linear-gradient(transparent, rgb(0, 0, 0));
}

.overlay h2 {
  color: #fff;
  font-size: 50px;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  float: left;
  padding: 10px 30px;
  position: relative;
  top: 200px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(89, 0, 255), 0 0 70px rgb(89, 0, 255), 0 0 80px rgb(89, 0, 255), 0 0 100px rgb(89, 0, 255), 0 0 150px rgb(89, 0, 255)
}

.overlay p {
  color: #fff;
  font-size: 20px;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  width: 40%;;
  padding: 10px 30px;
  position: relative;
  top: 200px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(89, 0, 255), 0 0 70px rgb(89, 0, 255), 0 0 80px rgb(89, 0, 255), 0 0 100px rgb(89, 0, 255), 0 0 150px rgb(89, 0, 255)
}

.overlay > button {
  position: relative;
  top: 200px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(89, 0, 255), 0 0 70px rgb(89, 0, 255), 0 0 80px rgb(89, 0, 255), 0 0 100px rgb(89, 0, 255), 0 0 150px rgb(89, 0, 255);
  float: left;
  margin: 10px 30px;
  padding: 15px; 
}

.movie-container .movie {
  position: relative;
  display: inline-block;
}

.movie-container .movie img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 0 10px;
}

.movie-details-overlay p {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  padding: 0px 30px;
  text-align: left;
}

.movie-container .movie .movie-details-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.movie-container .movie:hover .movie-details-overlay {
  display: block;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {  
  width: 40px;
  height: 40px;
  top: 70%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  cursor: pointer;
  display: inline-block;
}

  
.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
  
@keyframes arrow {  
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
